body{
  background: rgb(250,220,190);
}
h1{
  color:brown;
  font-family:Arial;
}
h3{
  color:Chocolate;
  font-family:Courier;
}
dl{
  color:brown;
  font-family:Impact;
}
ol{
  color:brown;
  font-family:Impact;
}
h4{
  color:Chocolate;
  font-family: Comic Sans MS;
  font-weight: bold;
}
hr {
    height: 2px;
    border: none;
    background-color: Chocolate;
}
img{
  
}